.title-logo {
    border-radius: 50%;
    filter: invert(0);
}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(146, 146, 146, 0.459);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088A9;
}


button {
    padding: 9px 25px;
    background-color: rgba(0, 135, 169, 1);
    border: none;
    border-radius: 5em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 135, 169, 0.8);
}