.title-logo {
    border-radius: 50%;
    filter: invert(0);
}

.navlinks li,
.navlinks button,
.navlinks a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: inherit;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color: rgba(146, 146, 146, 0.459);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li button, .navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li button:hover, .navlinks li a:hover {
    color: rgb(212, 76, 76);
}
